name: tagpr

# 全てのactionsをGitHub Appのトークンで実行することでtagが打たれたことをトリガーとするアクションが実行されるようにする
# tagprが作るPull Request上でtestのアクションを実行するだけならtagprのstepだけ違うトークンでも良い

on:
  push:
    branches: ["main"]

jobs:
  tagpr:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write
    outputs:
      tag: ${{ steps.tagpr.outputs.tag }}
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: Songmu/tagpr@da82ed6743aec90049892070edd5561335904a9e # v1.17.0
        id: tagpr
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
